
// mixins
.box-sizing(@val: content-box) {
    -moz-box-sizing: @val;
         box-sizing: @val;
}

.input-placeholder(@rules) {
    &::-webkit-input-placeholder { @rules(); }
    &:-moz-placeholder { @rules(); }
    &::-moz-placeholder { @rules(); }
    &:-ms-input-placeholder { @rules(); }
}

.user-select(@val) {
    -webkit-user-select: @val;
       -moz-user-select: @val;
        -ms-user-select: @val;
            user-select: @val;
}

.transform(@val) {
    -webkit-transform: @val;
       -moz-transform: @val;
            transform: @val;
}

.transition(@val) {
    -webkit-transition: @val;
       -moz-transition: @val;
            transition: @val;
}

// variables
@color-darkest: #263238;
@color-lightest: #eef1f1;

@fontFamily-main: Roboto, sans-serif;
@fontSize-main: 12pt;
@fontColor-dark: @color-darkest;
@backgroundColor-main: @color-lightest;
